services:
  livekit:
    image: livekit/livekit-server:latest
    container_name: livekit_server
    command: "--node-ip ${LIVEKIT_NODE_IP}"
    restart: always
    ports:
      - "7880:7880"     # API / Admin
      - "7881:7881"     # WebRTC TCP
      - "7882:7882/udp" # WebRTC UDP
    environment:
      LIVEKIT_KEYS: "${LIVEKIT_API_KEY}: ${LIVEKIT_API_SECRET}"
      NODE_IP: "${LIVEKIT_NODE_IP}"
      UDP_PORT: "7882"
      SIGNALING_PORT: "7881"
      API_PORT: "7880"
