services:
  livekit:
    image: 'livekit/livekit-server:v1.9.0'  # Versión confirmada que existe
    container_name: livekit_server
    restart: always
    network_mode: "host"

    environment:
      LIVEKIT_API_KEY: '${LIVEKIT_API_KEY}'
      LIVEKIT_API_SECRET: '${LIVEKIT_API_SECRET}'
      LIVEKIT_NODE_IP: '${LIVEKIT_NODE_IP}'
      LIVEKIT_TURN_SECRET: '${LIVEKIT_TURN_SECRET}'

    volumes:
      - '/opt/livekit/certs:/certs:ro'

    command:
      - '--node-ip'
      - '${LIVEKIT_NODE_IP}'
      - '--bind'
      - '0.0.0.0'
      - '--config-body'
      - |
        port: 7880
        rtc:
          tcp_port: 7881
          port_range_start: 50000
          port_range_end: 51000
          use_external_ip: true
        
        audio:
          inactive_interval: 500ms
          enable_dtx: true
          min_bitrate: 12000
          max_bitrate: 32000
        
        turn:
          enabled: true
          domain: turn.appideax.com
          udp_port: 3478
          tls_port: 5349
          cert_file: /certs/turn/fullchain.pem
          key_file: /certs/turn/privkey.pem
          relay_range_start: 50000
          relay_range_end: 51000
        
        keys:
          ${LIVEKIT_API_KEY}: ${LIVEKIT_API_SECRET}



# services:
#   livekit:
#     image: 'livekit/livekit-server:latest'
#     container_name: livekit_server
#     restart: always
#     # Esto soluciona el error 701 al conectar el contenedor directamente a la red del VPS
#     network_mode: "host" 

#     environment:
#       LIVEKIT_API_KEY: '${LIVEKIT_API_KEY}'
#       LIVEKIT_API_SECRET: '${LIVEKIT_API_SECRET}'
#       LIVEKIT_NODE_IP: '${LIVEKIT_NODE_IP}'
#       LIVEKIT_TURN_SECRET: '${LIVEKIT_TURN_SECRET}'

#     volumes:
#       - '/opt/livekit/certs:/certs:ro'

#     command:
#       - '--node-ip'
#       - '${LIVEKIT_NODE_IP}'
#       - '--config-body'
#       - |
#         port: 7880
#         rtc:
#           tcp_port: 7881
#           port_range_start: 50000
#           port_range_end: 51000
#           use_external_ip: true
#         turn:
#           enabled: true
#           domain: turn.appideax.com
#           udp_port: 3478
#           tls_port: 5349
#           # Quitamos external_tls: true porque causó error. 
#           # Usamos los archivos directamente:
#           cert_file: /certs/turn/fullchain.pem
#           key_file: /certs/turn/privkey.pem
#           relay_range_start: 50000
#           relay_range_end: 51000
#         keys:
#           ${LIVEKIT_API_KEY}: ${LIVEKIT_API_SECRET}




