services:
  livekit:
    image: livekit/livekit-server:latest
    container_name: livekit
    restart: unless-stopped
    network_mode: host  # CRÍTICO para TURN
    
    command: |
      --keys "${LIVEKIT_API_KEY}:${LIVEKIT_API_SECRET}"
      --node-ip "${LIVEKIT_NODE_IP}"
      --bind "0.0.0.0"
      --rtc-port-range-start 50000
      --rtc-port-range-end 60000
      --turn
      --turn-port 3478
      --turn-tls-port 5349
      --turn-external-tls
    
    environment:
      LIVEKIT_API_KEY: ${LIVEKIT_API_KEY}
      LIVEKIT_API_SECRET: ${LIVEKIT_API_SECRET}
      LIVEKIT_NODE_IP: ${LIVEKIT_NODE_IP}

# services:
#   livekit:
#     image: 'livekit/livekit-server:latest'
#     container_name: livekit_server
#     # Agregamos la variable LIVEKIT_URL para que sepa su dominio
#     command: '--node-ip ${LIVEKIT_NODE_IP}'
#     network_mode: "host"
#     restart: always
#     # ports:
#     #   - '7880:7880'          # HTTP API / Signal
#     #   - '7881:7881'          # WebRTC sobre TCP
#     #   - '3478:3478/udp'       # TURN Server (VITAL para datos móviles)
#     #   - '50000-60000:50000-60000/udp' # Rango de Media (Voz)
#     environment:
#       LIVEKIT_KEYS: '${LIVEKIT_API_KEY}: ${LIVEKIT_API_SECRET}'
#       #LIVEKIT_URL: '${LIVEKIT_URL}' # Tu dominio con HTTPS
#       NODE_IP: '${LIVEKIT_NODE_IP}'
