services:
  livekit:
    image: 'livekit/livekit-server:latest'
    container_name: livekit_server
    command: "--config /etc/livekit/livekit.yaml --node-ip ${LIVEKIT_NODE_IP}"
    restart: always
    ports:
      - '7880:7880'
      - '7881:7881'
      - '7882:7882/udp'
    environment:
      LIVEKIT_KEYS: '${LIVEKIT_API_KEY}:${LIVEKIT_API_SECRET}'
    volumes:
      - type: bind
        source: ./livekit.yaml
        target: /etc/livekit/livekit.yaml
        read_only: true
