services:
  livekit:
    image: livekit/livekit-server:latest
    container_name: livekit_server
    command: >
      --config /etc/livekit.yaml
      --node-ip ${LIVEKIT_NODE_IP}
    restart: always
    ports:
      - "7880:7880"     # API / Admin
      - "7881:7881"     # WebRTC TCP
      - "7882:7882/udp" # WebRTC UDP
    environment:
      LIVEKIT_KEYS: "${LIVEKIT_API_KEY}:${LIVEKIT_API_SECRET}"
    volumes:
      - ./livekit.yaml:/etc/livekit.yaml
